<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string># Note :
# Timezone is PHP's date.timezone
# for more check http://php.net/date.timezone

if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_META_DATE=`php -r 'ini_set("date.timezone","Europe/Istanbul");echo date("c");'` \
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; custom_iphone_webapp_vertical.html &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML : iPhone Webapp ( Vertical )</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>F70DC222-0E1B-4B33-B9F0-96468F59E18C</string>
</dict>
</plist>
