<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; default.py &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>py</string>
	<key>name</key>
	<string>PYTHON : Python Script ( Shell )</string>
	<key>scope</key>
	<string>source.python</string>
	<key>uuid</key>
	<string>E928D75C-586D-4E91-B2CD-EB11070550F2</string>
</dict>
</plist>
