<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string># Note :
# Timezone is PHP's date.timezone
# for more check http://php.net/date.timezone

if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_META_DATE=`php -r 'ini_set("date.timezone","Europe/Istanbul");echo date("c");'` \
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; custom_xhtml_1_0_translitional.html &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>html</string>
	<key>keyEquivalent</key>
	<string>@N</string>
	<key>name</key>
	<string>HTML : XHTML 1.0 Translitional</string>
	<key>uuid</key>
	<string>B72D7633-D3B0-4C18-907C-58A0CCECC1D0</string>
</dict>
</plist>
